.contentContainer {
  display: flex;
}

.decoTextContainer {
    width: 40%;
    margin: 5%;
    word-wrap: break-word;
    margin: 0;

}

.decoText {
    font-family: 'Amatic SC';
    font-size: 60px;
    margin: 0;
}

.authorContainer{
  width: 40%;
  margin: 5%;
  word-wrap: break-word;
  margin: 0;
  position: absolute;
  bottom: 0;
  padding-left: 5%;

}
@media screen and (max-width: 1300px){
  .authorContainer{

    position:static;
  }
}
h2{
  font-family: 'Cormorant SC';
  font-size: 30px;

}
h3{
  font-family: 'Cormorant SC';
  font-size: 20px;

}

.loginContainer {
    widith: 80px;
    margin: 5%;

}

.login-button {
    font-family: 'Cormorant SC';
    font-size: 60px;
    text-align: center;
    margin: -5px;
    border-radius: 4px;
    border: 5px solid #722f37;
    background-color: white;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.login-button:hover {
    color: white;
    background-color: #722f37;
}

.login-button:focus {
    outline: 0;
}
