<div class = "contentContainer">

<div class="loginContainer">
  <button class="login-button"(click)="loginWithGoogle()">Find Me A Game!</button>
</div>

<div class="decoTextContainer">
    <p class = "decoText"> "A computer once beat me at chess, but it was no match for me at kick boxing." <br> -Emo Phillips </p>
</div>

</div>
<div class="authorContainer">
  <h2 class = "creatorText"> Creator: William Frederick Wodrich</h2>
  <h3 class = "contributorText"> Contributors: Sam Young - Ethan K Swift - Kyle Baldes</h3>
</div>
