.background {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}

.contentContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

button{
  display: block;
  font-family: 'Cormorant SC';
  text-align: center;
  font-size: 24px;
  border: 5px solid #722f37;
  border-left: 0;
  background: white;
  cursor: pointer;
  outline: none;
  /*border-radius: 25px;*/
  padding: 20px;
  width: 100%;
  height: calc(33.3333% + 5px);
  margin-top: -5px;

}

 button:focus{
   outline: none;
 }

button:hover{
  color: white;
  background-color: #722f37;
}
strong{
  font-family: 'Cormorant SC';
  font-weight: bold;
  font-size: 20px;
}

strong:hover{
	color: #722f37;
	cursor: pointer;
}

ul{
  list-style-type: none;
}
li{
  font-size: 20px;


}
li:hover{
	cursor: pointer;
	color: #722f37;
}

.onlineUsers{
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: -5px;
    padding-right: 5%;
    width: 60%;
    border: 5px solid #722f37;
    background: #ffb6c1;
 }

.playerList{
    display: inline-block;
    border-color: darkgrey;
    border: 2px solid white;
    padding: 5px;
    width: 100%;
    margin-top: -2px;
    height: auto;
}

.playerStatusText{
    float: right;
    display: inline;
    margin: 0;
    padding: 0;
    text-align: right;
}

.buttonBox{
    display: flex;
    flex-grow: 1;
    flex-flow: column;
    float: right;
    width: 30%;
    background-color: lightgrey;
    margin-left: -5px;
    border-left:  5px solid #722f37;
}

h3{
	cursor: default;
}
