<div class = "contentContainer">
    <div class = "boardContainer">
        <app-board [setGameObservable]="hostUidService | async"></app-board>
    </div>
    <div class = "buttonContainer">
        <div>
            <div *ngIf="guest == 'waiting'">
                <h1 class = "waitingg"> Waiting...</h1>
            </div>
            <div *ngIf="guest == null">
                <h1 class = "waitingb"> Guest State is null</h1>
            </div>
        </div>
        <div class = "helpContainer">
            <p>Help text goes here.</p>
        </div>
        <button class = "sidebox" *ngIf="guest == 'waiting'" (click)="cancelGameProposal()">cancel</button>
        <button class = "sidebox" (click)="cancelGameProposal()">cancel temp</button>
    </div>
</div>
