button{
  font-family: 'Cormorant SC';
  right: 10px;
  padding-left: -10px;
  top: 5px;
  font-size: 24px;
  font-weight:400;
  border: 5px solid #722f37;
  background: white;
  cursor: pointer;
  outline: none;
}

 button:focus{
   outline: none;
 }

button:hover{
  color: white;
  background-color: #722f37;
}
