@media screen and (max-width: 970px){
  .site-title{

		padding-right: 550px;
  }
}

h2{
	padding-left: 10px;
  font-family: cursive 'Cormorant SC';
  font-size: 28px;
  font-weight:400;
  color: #290800;
  background: #b98e61;
  outline: none;
  margin: 0;
  margin-left: 10px;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 200px;
  text-align: center;
}
