/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Cormorant+SC:700');

@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');



.site-title {
    font-family: 'Cormorant SC', serif;
    font-weight: 1000;
    letter-spacing: 5px;
    font-size: 60px;
    margin: 0;
    padding: 10px;
    padding-left: 5%;
    color: #722f37;
    background-color: lightgrey;
    margin-bottom: 5px;
}

.body {
    height: calc(100% - 97.5px);
}
.ng-scope{
    height: 100%;
}
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none;
}
