<div class= "background">
  <input type="text" name="search" placeholder="Search for a Person's Profile..">

<div class = "contentContainer">
<div class="onlineUsers">
  <ul>
    <h3> Player Profiles: </h3>
    <li *ngFor="let user of onlineUsers | async" (click)="inquireUser(user.$key)">
      <div class = "playerList"> <strong>{{user.username}}: </strong>
        <p class = "playerStatusText">{{user.in_game}}</p>
    </div>
    </li>
  </ul>
</div>
<div class = "buttonBox">
    <button (click)="newGame()">Back to Game Menu</button>

</div>
</div>
</div>
